.float {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
.twoline {
	text-align: left;
	display: table-cell;
}
.table-container {
	display: table;
}
.circle {
	text-align: center;
	background: #BE1B28;
	border-radius: 50%;
	height: 250px;
	width: 250px;
	float: left;
	margin-left: 15px;
	margin-right: 20px;
}
.verticle-align-center {
	vertical-align: middle;
	display: table-cell
}
.display-table {
	display: table;
}
.font-size-40 {
	font-size: 40px;
}
.color-white {
	color: white;
}
.text-underline {
	text-decoration: underline;
}
.text-align-center {
	text-align: center;
}
.bg-yelow {
	background-color: #FBAF26;
}
.bg-red {
	background-color: #BE1B28;
}
.bg-black {
	background-color: black;
}

.rotate-25 {
	transform: rotate(-25deg);
	transform-origin: right, top;
	-ms-transform: rotate(-25deg);
	-ms-transform-origin:right, top;
	-webkit-transform: rotate(-25deg);
	-webkit-transform-origin:right, top;
}

.max-width-600 {
	max-width: 600px;
}
.max-height-400 {
	max-height: 400px;
}

.color-red {
	color: #BE1B28;
}
